
.cart {
    width:1250px;
    height: 770px;
    background-image: url(https://img-fotki.yandex.ru/get/4100/129821687.2/0_132813_1cc32d_orig);
    background-repeat: no-repeat;
    background-position: 159px 441px;
  }
  
  .cart > p {
    width:450px;
    color:  #6f7173;
    font-size: 42.35px;
    line-height: 44.42px;
    margin-left: 0px;
    margin-left:168px;
  }
  
  .cart-description {
    width: 451px;
    margin-left: 612px;
    margin-top:-20px;
  }
  
  .cart-description > p {
    font-size: 15.35px;
    line-height: 36px;
    margin-bottom:50px;
  }
  
  .cart-heading {
    color:  #6f7173;
    font-size: 26.35px;
    line-height: 44.42px;
  }